<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender</title>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="bg-light">
 {% include 'navbar.html' %}
<div class="container py-5">

    <h1 class="text-center mb-5">📚 Top 50 Popular Books</h1>

    <div class="row">
        {% for i in range(book_name|length) %}
        <div class="col-md-3 mb-4">
    <div class="card shadow-sm h-100" style="font-size:14px;">
        <img src="{{ image[i] }}" class="card-img-top" style="height:220px; object-fit:contain;">
        <div class="card-body d-flex flex-column">
            <h6 class="card-title text-truncate">{{ book_name[i] }}</h6>
            <p class="card-text mb-1"><strong>Author:</strong> {{ authors[i] }}</p>
            <p class="card-text mb-1"><strong>Votes:</strong> {{ votes[i] }}</p>
            <p class="card-text"><strong>Rating:</strong> ⭐ {{ rating[i]|round(2) }}</p>
        </div>
    </div>
</div>

        {% endfor %}
    </div>

</div>

</body>
</html>
